<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .test{
        font-size: 20px;
        color : red
    }
</style>
<body>
    <div class="test">
        Test Template
    </div>
</body>
</html>
<!-- Với code như trên  -->
 <!-- lên gg convert css inline  -->
  <!-- đó là cách tạo ra file css . Dùng công vụ online -->
<!-- template ko hổ trợ display : chuyển sang dạng table  -->
 